/* Estilos generales */
.menu-button {
  display: inline-block;
  cursor: pointer;
  margin: 5px;
}

.menu-button .bar {
  width: 25px;
  height: 3px;
  background-color: #555; /* Gris oscuro */
  margin: 5px 0;
  transition: 0.3s;
}

/* Sidebar personalizado */
.custom-sidebar {
  background-color: #f0f0f0; /* Gris claro */
  width: 350px;
  max-width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.custom-sidebar h3 {
  color: #333; /* Gris medio */
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.custom-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.custom-sidebar ul li {
  margin-bottom: 10px;
}

.custom-sidebar ul li a {
  text-decoration: none;
  color: #333; /* Gris medio */
  font-size: 1.2rem;
  display: block;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.custom-sidebar ul li a:hover {
  color: #fff;
  background-color: #555; /* Gris oscuro */
}

.p-button {
  background-color: #c4bebee0; /* Gris medio */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.p-button:hover {
  background-color: #111; /* Negro */
  transform: scale(1.05);
}

/* Estilos para las imágenes */
.custom-sidebar img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.custom-sidebar img:hover {
  transform: scale(1.05);
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .custom-sidebar {
    width: 250px;
    padding: 10px;
  }

  .custom-sidebar h3 {
    font-size: 1.3rem;
  }

  .custom-sidebar ul li a {
    font-size: 1rem;
    padding: 10px;
  }

  .menu-button .bar {
    width: 20px;
    height: 2.5px;
  }
}

@media (max-width: 480px) {
  .custom-sidebar {
    width: 100%;
    padding: 10px;
  }

  .custom-sidebar h3 {
    font-size: 1.2rem;
  }

  .custom-sidebar ul li a {
    font-size: 0.9rem;
    padding: 8px;
  }

  .menu-button .bar {
    width: 18px;
    height: 2px;
  }
}
