<div class="main">
  <div class="header header-flex">
    <img src="assets/images/eurocolor.png" alt="Logo de Eurocolor" class="logo-elegante" />
    
    <div class="search-container">
      <!-- Aquí puedes agregar el contenido de búsqueda si es necesario -->
    </div>
    
    <a href="assets/Catalogó de productos Eurocolor.pdf" class="download-button" download>Descargar Catálogo</a>
  </div>

  <div class="content">
    <div class="lateral">
      <app-nav-menu></app-nav-menu>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>

<div class="footer">
  <footer>
    <p>&copy; 2024 Eurocolor</p>
  </footer>
</div>




