<div class="central">
  <div class="custom-carousel">
      <p-carousel 
          [value]="images" 
          [numVisible]="1" 
          [numScroll]="1" 
          [circular]="true" 
          [responsiveOptions]="responsiveOptions" 
          [autoplayInterval]="3000" 
          [transitionOptions]="{ easing: 'ease-in-out', duration: 500 }">
          
          <ng-template pTemplate="item" let-item>
              <div class="p-carousel-item">
                  <img [src]="item.itemImageSrc" [alt]="item.alt" />
              </div>
          </ng-template>
          
          <ng-template pTemplate="thumbnail" let-item>
              <div class="custom-thumbnail">
                  <img [src]="item.thumbnailImageSrc" [alt]="item.title" />
              </div>
          </ng-template>
      </p-carousel>
  </div>
