/* Estilo para el sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 20px; /* Reducido para mejorar el diseño */
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #444;
}

.carousel-container {
  display: flex;
  flex-direction: column; /* Asegura que el contenido se alinee verticalmente */
  justify-content: center; /* Centra horizontalmente el contenedor */
  align-items: center; /* Centra verticalmente el contenedor */
  width: calc(100% - 200px); /* Ancho completo menos el sidebar */
  height: 80vh; /* Altura completa de la ventana */
  margin-left: 30px; /* Espacio a la izquierda para el sidebar */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
  padding: 20px; /* Espaciado alrededor del contenedor */
}

/* Estilo para el carousel */
.custom-carousel {
  max-width: 900px; /* Ancho máximo del carrusel */
  width: 100%; /* Ocupa el 100% del contenedor */
  padding: 20px;
  background-color: rgba(242, 244, 246, 0.7);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: center; /* Centra el contenido dentro del carrusel */
  align-items: center; /* Centra verticalmente el contenido del carrusel */
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.custom-carousel {
  animation: fadeIn 1s ease-in-out;
}

/* Estilos para los elementos del carrusel */
.p-carousel .p-carousel-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.p-carousel .p-carousel-item img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.custom-thumbnail {
  margin: 0 8px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
}

.custom-thumbnail img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  object-fit: cover;
}

.custom-thumbnail:hover {
  transform: scale(1.1);
}

/* Estilos para los botones de navegación del carrusel */
.p-carousel .p-carousel-nav-prev,
.p-carousel .p-carousel-nav-next {
  background-color: #00796b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.p-carousel .p-carousel-nav-prev:hover,
.p-carousel .p-carousel-nav-next:hover {
  background-color: #004d40;
}

.p-carousel .p-carousel-nav-prev .p-carousel-nav-icon,
.p-carousel .p-carousel-nav-next .p-carousel-nav-icon {
  color: white;
}

/* Media Queries */
@media (max-width: 1200px) {
  .custom-carousel {
    padding: 20px;
  }

  .p-carousel .p-carousel-item {
    height: 300px;
  }

  .custom-thumbnail img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 992px) {
  .p-carousel .p-carousel-item {
    height: 250px;
  }

  .custom-thumbnail img {
    width: 90px;
    height: 80px;
  }
}

@media (max-width: 768px) {
  .p-carousel .p-carousel-item {
    height: 200px;
  }

  .custom-thumbnail img {
    width: 90px;
    height: 60px;
  }
}

@media (max-width: 576px) {
  .custom-carousel {
    padding: 100px;
  }

  .p-carousel .p-carousel-item {
    height: 180px;
  }

  .custom-thumbnail img {
    width: 60px;
    height: 50px;
  }
}
